@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


body {
  font-family: "Jersey 25", sans-serif;
  background: #afafef;
}